.container > div + div {
    margin-top:30px
}

.container > .card-h div:first-child {
    text-align:center;
    width:150px;
}

.container > .card-h div:last-child {
    max-width:calc(100% - 150px);
}