<div class="container-fluid my-3">
  <div id="cabecera" class="p-3 border-bottom text-center">
    <h1>
      {{juego.nombre}}!
    </h1>
    <small class="d-block">
      Resolvé la mayor cantidad de operaciones aritméticas que puedas en 30 segundos
    </small>
  </div>
  <form id="juego" *ngIf="start && !end" class="my-3 mx-auto p-3 border rounded text-center">
    <div id="barra-de-estado" class="border border-bottom-0 rounded-0">
      <div class="row py-1 px-2">
        <div class="col-6 text-left">
          Tiempo restante: {{timer}}
        </div>
        <div class="col-6 text-right">
          Puntaje: {{puntaje}}
        </div>
      </div>
    </div>
    <div id="juego-wrap" class="border rounded-0 p-3 display-4">
      <div [@popMessage]="showMessage ? 'shown' : 'hidden'" id="message">
        <p [ngClass]="{ 'text-info': gano, 'text-warning': !gano }">{{mensaje}}</p>
      </div>
      {{juego.num1}} {{juego.operador}} {{juego.num2}} =
      <input id="inputNum" [(ngModel)]="juego.numeroIngresado" name="numeroIngresado" (keyup.enter)="Verificar(e)" type="text"
        autocomplete="off" class="d-inline-block text-center bg-transparent" style="max-width:100px;" autofocus />
    </div>
    <div class="mt-3">
      <button (click)="Verificar(e)" class="btn btn-success btn-lg">Verificar</button>
    </div>
  </form>

  <div *ngIf="end" class="pt-3 text-center">
    <p style="font-size:30px"><i class="far fa-clock"></i> ¡Se te acabó el tiempo! <i class="far fa-clock"></i></p>
    <p  class="border border-info rounded p-2" style="font-size:20px">Tu puntaje final es: <span class="font-weight-bold" [ngClass]="{ 'text-info': puntaje > 0, 'text-warning': puntaje == 0 }">{{puntaje}}</span></p>
  </div>

  <div *ngIf="!start || end" class="btn-group mt-3 mx-auto d-block text-center">
    <button (click)="Start()" class="btn btn-info btn-lg">
      <span *ngIf="!start">¡Comenzar!</span>
      <span *ngIf="end" (click)="Start()">¡Otra vez!</span>
    </button>
    <button *ngIf="end" (click)="Save()" class="btn btn-info btn-lg">
      Guardar puntaje
    </button>
  </div>
</div>