<nav id="navbar" class="navbar sticky-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img id="logo" src="../../../assets/imagenes/logo.png" />
      <h5> Sala de Juegos</h5>
    </a>
    <button class="navbar-toggler btn sdj-outline" type="button" data-toggle="collapse" data-target="#togglable"
      aria-controls="togglable" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="togglable">
      <div class="ml-auto">
        <div class="nav-item d-inline-block align-middle ml-2">
          <div class="input-group">
            <input class="form-control sdj" type="search" placeholder="Buscar">
            <div class="input-group-append">
              <button class="btn sdj-outline" type="button">
                <i class="fa fa-close"></i>
              </button>
              <button class="btn sdj-outline" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="nav-item d-inline-block align-middle ml-4 sdj"><a routerLink="/Login"><b >Inicia&nbsp;Sesión</b></a></div>
        <div class="nav-item d-inline-block align-middle ml-2"><a class="btn sdj-outline" routerLink="/Registro"><i
              class="d-inline-block mr-2 fa fa-user"></i>Registrate</a></div>
      </div>
    </div>
  </div>
</nav>