<div class="card-h">
  <div class="card-h-media">
    <i class="fa fa-gamepad"></i>
  </div>
  <div class="card-h-body">
    <h5 class="card-h-title">Juegos</h5>
    <p class="card-h-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía
      en los
      estudiantes que están inmersos en el proceso de aprendizaje.
      Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
    <a routerLink="/Juegos" class="btn sdj"><b>¡Jugar!</b></a>
  </div>
</div>

<div class="card-h">
  <div class="card-h-media">
    <i class="fa fa-list-ol"></i>
  </div>
  <div class="card-h-body">
    <h5 class="card-h-title">Listados de resultados</h5>
    <p class="card-h-text">Los listados de los resultados con ordenamiento y busqueda</p>
    <button (click)="Listar()" class="btn sdj"><b>Ver listado</b></button>
    <div ng-if="mostrar" class="container">
      <li *ngFor="let pais of paises">Pais: {{pais.name}} - Población: {{pais.population}} - Región: {{pais.region}} </li>
    </div>
    <!--<a routerLink="/Listado" class="btn sdj"><b>Ver listado</b></a>-->
  </div>
</div>



<div class="card-h">
  <div class="card-h-media">
    <i class="fa fa-cogs"></i>
  </div>
  <div class="card-h-body">
    <h5 class="card-h-title">Configuraci&oacute;n</h5>
    <p class="card-h-text">Ajustes de la aplicacion y los métodos de autentificación.</p>
    <a routerLink="/Juegos" class="btn sdj"><b>Configurar</b></a>
  </div>
</div>

<div class="card-h">
  <div class="card-h-media">
    <i class="fa fa-users"></i>
  </div>
  <div class="card-h-body">
    <h5 class="card-h-title">Jugadores</h5>
    <p class="card-h-text">Listado de jugadores.</p>
    <a routerLink="/Jugadores" class="btn sdj"><b>Ver listado</b></a>
  </div>
</div>