<div class="card" style="width: 18rem;">
  <img src="../../../assets/imagenes/menu inicio/saladejuegos.png" class="media-object imagenDeMenu" alt="Juegos">
  <div class="card-body">
    <h5 class="card-title">Juegos</h5>
    <p class="card-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía
      en los
      estudiantes que están inmersos en el proceso de aprendizaje.
      Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
    <a routerLink="/Juegos" class="btn btn-primary">¡Jugar!</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="../../../assets/imagenes/menu inicio/listado.jpg" class="media-object imagenDeMenu" alt="Resultados">
  <div class="card-body">
    <h5 class="card-title">Listados de resultados</h5>
    <p class="card-text">Los listados de los resultados con ordenamiento y busqueda</p>
    <a routerLink="/Listado" class="btn btn-primary">Ver listado</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/imagenes/menu inicio/Configuracion.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Configuraci&oacute;n</h5>
    <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación.</p>
    <a routerLink="/Juegos" class="btn btn-primary">Configurar</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/imagenes/menu inicio/jugadores.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Jugadores</h5>
    <p class="card-text">Listado de jugadores.</p>
    <a routerLink="/Jugadores" class="btn btn-primary">Go somewhere</a>
  </div>
</div>