<div class="modal-header">
  <h4 class="modal-title">Terminos y condiciones</h4>
</div>
<div class="modal-body">
  <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y
    perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan
    en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en
    el
    vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora
    o
    falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados
    sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
  <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que
    puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y
    ficheros almacenados en su sistema informático.</p>
  <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea
    completamente segura. El Usuario asume este riesgo.</p>
  <p>
    <strong>No leer lo anterior, es solo un ejemplo sacado de
      <a href="https://www.argentina.gob.ar/terminos-y-condiciones">https://www.argentina.gob.ar/terminos-y-condiciones</a></strong>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn cancel" (click)="activeModal.close('Close click')">OK</button>
</div>