<div id="form-registro" class="d-block mx-auto my-5 px-4 py-3 border shadow rounded" style="max-width:400px">
  <div class="form-group">
    <label for="email">Nombre de usuario:</label>
    <input type="email" class="form-control" id="user-name">
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico:</label>
    <input type="email" class="form-control" id="user-email">
  </div>
  <div class="form-group">
    <label for="pwd">Ingresá una contraseña:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Repetí tu contraseña:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Recordar mi usuario
    </label>
  </div>
  <p>¿Ya tenés una cuenta? <a href="#">¡Registrate!</a></p>
  <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
</div>