<div class="container">
  <div class="row m-0">
    <div class="col-12 col-lg-4 ">
      <div class="wrap">
        <div class="card">
          <img src="./assets/imagenes/cerebro.jpg" alt="Avatar">
          <div class="card-body">
            <h2 class="card-title">Velocidad y agilidad aritmética </h2>
            <p class="description mb-0">Juego de agilidad mental</p>
          </div>
        </div>
        <div class="d-flex row m-0" role="group">
          <button class="btn sdj rounded-0 col-6" (click)="Juego('Agilidad')">Jugar</button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-facebook"></i></button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-twitter"></i></button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-linkedin"></i></button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="wrap">
        <div class="card">
          <img src="./assets/imagenes/ppt.png" alt="Avatar">
          <div class="card-body">
            <h2 class="card-title">Piedra, Papel o Tijera</h2>
            <p class="description mb-0">Juego contra la máquina</p>
          </div>
        </div>
        <div class="d-flex row m-0" role="group">
          <button class="btn sdj rounded-0 col-6" (click)="Juego('PPT')">Jugar</button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-facebook"></i></button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-twitter"></i></button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-linkedin"></i></button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="wrap">
        <div class="card">
          <img src="./assets/imagenes/adivina.png" alt="Avatar">
          <div class="card-body">
            <h2 class="card-title">Adiviná el número secreto</h2>
            <p class="description mb-0">Juego de estrategia</p>
          </div>
        </div>
        <div class="d-flex row m-0" role="group">
          <button class="btn sdj rounded-0 col-6" (click)="Juego('Adivina')">Jugar</button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-facebook"></i></button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-twitter"></i></button>
          <button class="btn sdj rounded-0 col-2"><i class="fa fa-linkedin"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>