img {
    border-radius: 5px 5px 0 0;
    width: 200px;
    height: 200px;
}

.card img {
    width:100%;
}

.wrap {
    overflow:hidden;
    border-radius:5px;
    height:100%;
    background-color:white;
}
.card {
    margin:0;

    height: calc(100% - 38px);
}
.btn-group {
    margin:0;
    padding:0;
}
.card,
.btn-group {
    width:100%;
}

.btn-group,
.btn-group *,
.card {
    border-radius:0 !important;
}