<footer id="pie-de-pagina" class="page-footer font-small blue pt-4 bg-warning">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Sala de juegos</h5>
        <p>Sala de juegos es un trabajo práctico hecho con Angular.</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">LINKS</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Acerca de mí</a>
            </li>
            <li>
              <a href="#!">Acerca de la sala de juegos</a>
            </li>
            <li>
              <a href="#!">Contacto</a>
            </li>
            <li>
              <a href="#!">Mi Git</a>
            </li>
          </ul>
        </div>
        
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Otras redes</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Facebook</a>
            </li>
            <li>
              <a href="#!">Instagram</a>
            </li>
            <li>
              <a href="#!">Twitter</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/octaviovillegas/TP_LAV4_2017"> Sala de Juegos</a>
  </div>
</footer>