<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm" (ngSubmit)="Login(f.email, f.password)">
    <div class="form-group">
      <label>Correo electrónico:</label>
      <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'd-block is-invalid': submitted && f.email.errors }">
      <div *ngIf="loginForm.hasError('required','email') && submitted" class="text-danger">Debe llenar este campo</div>
    </div>
    <div class="form-group">
      <label>Contraseña:</label>
      <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'd-block is-invalid': submitted && f.password.errors }">
      <div *ngIf="loginForm.hasError('required','password') && submitted" class="text-danger">Debe llenar este campo</div>
    </div>
    <p *ngIf="mensaje != ''" class="text-danger">{{mensaje}}</p>
    <div class="modal-footer">
      <button type="submit" [disabled]="loading" class="btn">Iniciar sesión</button>
      <button type="button" class="btn cancel" (click)="activeModal.close('Close click')">Cancelar</button>
    </div>
  </form>
</div>