form {
    margin-top: 100px;
    padding: 20px 35px;
    background: white;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    margin: auto;
    display: block;
}

form>*+* {
    margin-top: 15px;
}

.container {
    padding: 16px;
}

.center {
    text-align: center;
}

.img-wrap {}

.img-wrap img {
    width: 150px;
    margin: auto;
    display: block;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}