<footer id="pie-de-pagina" class="page-footer font-small blue pt-4 sticky-bottom">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Sala de juegos</h5>
          <p>Sala de juegos es un trabajo práctico hecho con Angular 6.</p>
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">LINKS</h5>
            <ul class="list-unstyled">
              <li>
                <a routerLink="/QuienSoy">Acerca de mí</a>
              </li>
              <li>
                <a href="http://github.com/marianotbh">Mi Git</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://github.com/octaviovillegas/TP_LAV4_2017"> Sala de Juegos</a>
    </div>
  </footer>