#pie-de-pagina {
    width: 100%;
    padding: 20px 0 0;
    background-color: rgba(0,0,0,0.05);
}
.footer-copyright {
    background-color: rgba(0, 0, 0, 0.05);
}
footer {
    background-color: var(--violeta) !important;
}
footer * {
    color:yellow !important;
}