<app-navegacion></app-navegacion>

<div id="quien" class="container-fluid py-5">
  <div class="container text-center">
    <h3 class="border-bottom pb-3">¿Quién Soy?</h3>
    <img src="./assets/imagenes/quiensoy.jpg" class="rounded-circle" alt="Avatar" width="350" height="350">
    <p class="d-block mt-3">Soy Mariano Burgos, tengo {{miEdad}} años, estudio la Tecnicatura Superior en Programación
      en la UTN</p>
  </div>
</div>

<div id="que" class="container-fluid py-5">
  <div class="container text-center">
    <h3 class="border-bottom pb-3">¿Qué es 'Sala de Juegos'?</h3>
    <p><b>Sala de Juegos es el primer trabajo práctico de la materia Laboratorio IV</b>. Está desarrollada en
      <a href="https://angular.io/">Angular 6</a>. Cada universidad, cada
      facultad, cada carrera y obviamente cada materia
      en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos
      las
      universidades intentan estandarizar la
      forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de
      evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la
      evaluación
      formativa el educador busca información en el alumno para lograr comprender cómo se está
      produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una
      muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión
      del
      tema.
      Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la
      hora
      del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
    <a href="#" class="btn btn-default btn-lg border-top border-warning pt-3">
      <i class="far fa-file"></i> Descargar PDF
    </a>
  </div>
</div>

<div id="donde" class="container-fluid py-5">
  <div class="container text-center">
    <h3 class="border-bottom pb-3">¿Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="w-100" alt="Image">
      </div>
      <div class="col-4">
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y
          pensado
          en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="w-100" alt="Image">
      </div>
      <div class="col-4">
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="w-100" alt="Image">
      </div>
    </div>
  </div>
</div>

<app-pie></app-pie>