<div class="container my-3">
  <h1 class="text-center">
    {{nuevoJuego.nombre}}!
  </h1>
  <small class="text-center d-block">
    Genere un número secreto del 1 al 100 y siga las pistas hasta adivinarlo
  </small>
  <form id="juego" class="my-3 mx-auto p-5 w-50 border rounded text-center">
    <div *ngIf="numeroSecretoGenerado">
      <input id="inputNum" [(ngModel)]="nuevoJuego.numeroIngresado" name="numeroIngresado" (keyup.enter)="Verificar()"
        type="text" autocomplete="off" />
    </div>

    <div *ngIf="">
      <h2><button *ngIf="nuevoJuego.numeroSecreto != 0" (click)="Verificar()" class="btn btn-success btn-block">Verificar</button></h2>
    </div>


    <h2>
      <h3 *ngIf="!numeroSecretoGenerado">Comenzar</h3>
      <button *ngIf="nuevoJuego.numeroSecreto == 0 " (click)="GenerarNumeroSecreto()" class="btn btn-info btn-block">
        Generar un número secreto</button>
    </h2>

    <small>
      <p *ngIf="nuevoJuego.numeroSecreto != 0">Ingresá un número</p>
    </small>

    <div id="snackbar" *ngIf="numeroSecretoGenerado" class="d-none">
      <div class="py-2 m-0">{{intentos}}</div>
      <hr>
      <h3 class="py-2 m-0 font-italic">"{{mensaje}}"</h3>
      <hr>
      <div class="py-2 m-0">{{ayuda}}</div>
    </div>
  </form>
</div>